* {
    box-sizing: border-box;
}
img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}
body {
    margin: 0px;
    background-color: #26221d;
}
h1, h2, h3{
    font-family: "Shrikhand";
}
h4, h5, h6{
    font-family: "Playfair";
}
p {
    font-family: "Playfair";
}
html { 
    scroll-behavior: smooth; 
}
/* END RESETS */
#header {
    background-image: 
        linear-gradient(to left, rgba(245, 246, 252, 0.01), rgba(81, 5, 32, 0.4)),
        url(../images/collage_creature.jpg)
    ;
    background-size: cover;
    background-position: center bottom;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: auto 20px;
    #header-content {
        margin: 40px;
        h1 {
            font-size: 72px;
            margin-bottom: 36px;
            color: #ffeef1;
        }
        h4 {
            font-size: 50px;
            margin: 0px;
            color: #ffeef1;
        }
        a {
            font-size: 28px;
            font-style: oblique;
            display: inline-block;
            color: #f9f8ca;
            text-decoration: none;
            border-radius: 10px;
            margin-top: 36px;
        }
    }   
}
#nav {
    display: flex;
    align-items: center;
    padding: 12px;
    height: 65px;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: #07322c;
    color: #ebe49b;
        #home {
            margin-right: auto;
        }
        a {
            padding: 0 .5em 0.2em;
            text-decoration: none;
            color: #ebe49b;
            background: linear-gradient(currentColor 0 0) 
            bottom left/
            var(--underline-width, 0%) 0.1em
            no-repeat;
            transition: background-size 0.5s;
        }
        a:hover {
            --underline-width: 100%;
        }
    }
#gallery {
    columns: 2 auto;
    width: 90%;
    margin: 10px auto;
}
.card {
    margin-right: 12px;
    margin-bottom: 24px;
    height: max-content;
    background-color: #5c333d;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.5s, box-shadow 0.5s;
}
.card:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
#twocol {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "left right"
    ;
    align-items: center;
    justify-content: center;
    margin: 45px 60px;
}
#left {
    grid-area: left;
    img {
        border-radius: 50%;
        width: 280px;
        height: 280px;
        border: 10px outset #a83354;
    }
}
#right {
    grid-area: right;
    color: #f9f8ca;
    padding: 24px;
    margin: 24px;
    a {
        color: rgb(55, 222, 128);
        text-decoration: none;
        font-style: italic;
        font-size: 24px;
    }
}
#info {
    color: #f9f8ca;
    margin: 45px auto;
    text-align: center;
    width: 800px;
}
#book{
    transition: all 2s ease-in-out;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__window {
    position: relative;
  }
  
  .modal__close {
    position: absolute;
    top: -30px;
    right: 0;
  }
  .modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#toucha {
    li {
        padding: 20px;
        margin: 15px auto;
        background-color: #a83354;
        width: 400px;
        list-style: none;
        border-radius: 30px;
        transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
        a {
            color: #f9f8ca;
            text-decoration: none;
        }
    }
    li:hover {
        transform:scale(1.05, 1.05);
        box-shadow: 3px 3px 10px rgb(0, 0, 0);
        background-color: #bc313f;
    }
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__window {
    position: relative;
    width: 650px;
  }
  
  .modal__close {
    position: absolute;
    top: -30px;
    right: 0;
    color: aquamarine;
    text-decoration: none;
    font-weight: 800;
  }

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}
#footer {
    background-color: #3c0a2a;
    color: #ebe49b;
    height: 100px;
    margin-bottom: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a {
        color: #d93545;
        text-decoration: none;
        font-weight: 800;
    }
}