*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-image: url(../images/7144924.jpg);
    background-size: 500px;
    background-repeat: repeat;
}
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "tippytop tippytop"
        "side main"
    ;
}
#tippytop {
    grid-area: tippytop;
    padding: 0px 36px;
    background-image: linear-gradient( rgb(45, 31, 58), rgba(255,0,0,0));
    a{
        text-decoration: none;
    }
    #me {
        color: white;
        padding: 2px;
    }
    #tube {
        color: white;
        background-color: orange;
        padding: 4px;
        border-radius: 12px;
    }
}
#side {
    grid-area: side;
    padding: 0px 24px;
    margin-right: 20px;
    background-color: antiquewhite;
    opacity: 95%;
    border-radius: 24px;
    ul {
        list-style-type: none;
        padding: 12px 0px;
        margin: 0px;
        border-bottom: 2px solid #aaa;
        a {
        text-decoration: none;
        font-family: "Young Serif";
        color: purple;
        display: block;
        padding: 12px;
        transition: background-color 0.5s, border-radius 0.5s;
        }
        a:hover {
            background-color: rgb(252, 180, 216);
            border-radius: 6px;
        }
    }
}
#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}
.videozone {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.5s, box-shadow 0.5s;
}
.videozone:hover {
    transform:scale(1.05, 1.05);
    box-shadow: 3px 3px 3px black;
}
p {
    font-family: "Playfair", serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Young Serif";
}
.videozone .thumbnail {
    aspect-ratio: 16 / 9;
    background: radial-gradient(at top left, magenta, orange);
    border-radius: 8px;
    img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 8px;
    }
}
h4 a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
h4 a:hover{
    color: darkorange;
}