#two-col {
display: grid;
grid-template-columns: 3fr 1fr;
column-gap: 80px;
}
img{
    width: 100%; object-fit: cover;
}
body{
    margin: 20px;
}
.h1 {
    font-family: "Digistick"
}
body{
    background-color: rgb(102, 108, 235);
}
/* Start https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;}
 /* End https://www.cursors-4u.com */
 :root {
    font-family: "Rabbid highway sign II";
}
body {
    color: rgb(255, 255, 255);
  }
header{
    background-color: darkmagenta;
  }
  img{
    border-radius: 30px;
  }
  