#two-col {
display: grid;
grid-template-columns: 3fr 1fr;
column-gap: 80px;
}
img{
    width: 100%; object-fit: cover;
}
body{
    margin: 20px;
}
.h1 {
    font-family: "Digistick"
}
body{
    background-color: rgb(104, 160, 238);
}