*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* resets END */
#two-col{
    display: flex;
    height: 100vh;
}
#sidebar{
    background-color: rgb(159, 196, 198);
    width: 200px;
    padding: 24px;
    border-right: 4px groove cadetblue;
    flex: 1;
    h2{
        border-bottom: 4px solid cadetblue;
        padding-bottom: 9px;
    }
    ul{
        list-style-type:none;
        padding: 0px;
        li{
            padding: 4px 0px;
        }
        a{
            color: deeppink;
            text-decoration: none;
            font-style: oblique;
        }
    }
}
#main{
    background-color: antiquewhite;
    flex: 2;
    padding: 48px;
}