* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: #231F20;
}
img {
    width: 100%;
    object-fit: cover;
}
p {
    font-family: "Playfair";
    color: #FFF5CD;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Abril Fatface";
    color: #FFF5CD;
}
a {
    color: #E63926;
    background-color: #231F20;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    transition: background-size 0.5s;
}
a:hover {
    --underline-width: 100%;
}
/* end resets */

/* NAV START */
nav {
    background-color: #065E4D;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo img {
    height: 85px;
    object-fit: contain;
}
.logo {
    margin-right: auto;
}
.links {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #FDBE54;
}
/* NAV END */

/* FOOTER START */
footer {
    margin: 90px auto 20px;
    text-align: center;
    img {
        height: 30px;
        object-fit: contain;
    }
}
/* FOOTER END */

/* HERO START */
#hero {
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
        margin-top: 0px;
        font-size: 48px;
    }
    h4 {
        font-size: 28px;
        margin-top: 0px;
    }
    a {
        font-size: 32px;
        margin: 0px auto;
        background-color: #231F20;
    }
    #pic {
        position: absolute;
        overflow-x: hidden;
        opacity: 0.5;
        z-index: -1;
        margin: 0px;
        padding: 0px;
        object-fit: cover;
        height: 100%;
        width: 100%;
        animation: heroscroll linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}
@keyframes heroscroll {
    to {opacity: 0; scale: 1.5;}
}
/* HERO END */

/* CARD START */
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    margin: 25px 10%;
    
}
.card {
    text-align: center;
    background-color: #065E4D;
    padding-bottom: 25px;
    border-radius: 20px;
    img {
        border-radius: 20px 20px 0px 0px;
        height: 60vh;
    }
    a {
        background-color: #231F20;
        font-size: 20px;
    }
    h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    h5 {
        padding: 20px;
    }
}
/* CARD END */

/* MENU START */
#ft {
    position: relative;
    border: 0px;
    padding: 0px;
    width: 500px;
    height: 700px;
    margin: 50px;
    img {
        height: 700px;
        width: 500px;
        border-radius: 12px;
        text-align: center;
    }
}
#ft .front,
#ft .back {
    border-radius: 12px;
}
#ft .back {
    transform: scaleX(0);
}
#ft .front {
    background-image: url(../images/joker.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    position: absolute;
}
#ft .front {
    transition: transform 0.25s 0.25s;
}

#ft .back {
    transition: transform 0.25s;
}

#ft:hover .front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#ft:hover .back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}
.twocol {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto 20%;
    justify-content: center;
    align-items: center;
}
#des {
    background-color: #231F20;
    padding: 24px;
    border-radius: 15px;
    border: 4px solid #E63926;
    h3 {
        color: #C4E2BD;
        font-size: 24px;
    }
    h2 {
        color: #FDBE54;
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
}
.menu {
    display: flex;
    column-gap: 24px;
    margin: auto 10%;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 55px;
}
.menucard {
    flex: 1;
    max-width: 250px;
    text-align: center;
    background-color: #065E4D;
    padding: 25px;
    border-radius: 15px;
    border: 2px dashed #C4E2BD;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
}
.menucard:hover {
    background-color: #0d6b66;
    box-shadow: 0px 0px 15px #24ebb3;
    color: #fffbec;
}
#containing {
    text-align: center;
    color: #C4E2BD;
}
#menupage {
    padding-bottom: 20px;
    background-color: #231F20;
    opacity: 1;
    background-image: url(../images/tile.png);
    background-size: 400px 400px;
}

/* MENU END */

/* BOOKING START */
#booking-content{
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: inline-block;
    background-color: #231F20;
    padding: 24px;
    border-radius: 15px;
    border: 4px solid #E63926;
    h3 {
        color: #C4E2BD;
        font-size: 24px;
    }
    h2 {
        color: #FDBE54;
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
  }
  
  p + p {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font-size: 14px;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #231F20;
    border-radius: 5px;
  }
  
  input:focus,
  textarea:focus {
    outline-style: solid 2px;
    outline-color: #0d6b66;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
   background-color: #FFF5CD;
   border-radius: 20px;
   transition: background-color .5s;
  }
  .button:hover {
    background-color: #FDBE54;

  }
/* BOOKING END */

/* ABOUT START */
#aboutus {
    text-align: center;
    max-width: 80vw; margin: auto;
    img {
        width: 50%;
    }
    .des {
        background-color: #231F20;
    padding: 24px;
    border-radius: 15px;
    border: 4px solid #E63926;
    p {
        font-size: 20px;
    }
    }
    #slogan {
        font-style: italic;
    }
}
/* ABOUT END */
#faq {
    background-color: #FFF5CD;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    h1, h3 {
        color: #E63926;
    }
}
/* FAQ START */

/* FAQ END */

/* media query start */
@media screen and (max-width:800px) {
    nav {
        flex-direction: column;
        height: fit-content;
    }
    .logo {
        margin-right: 0%;
    }
    .links {
        width: 100%;
        justify-content: center;
    }
    .card-container {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
    .card h3{
        font-size: 24px;
        margin-bottom: 0px;
    }
    #ft {
        width: 300px;
        height: 400px;
        img {
            height: 400px;
            width: 300px;
        }
    }
    .twocol {
        grid-template-columns: 1fr;
    }
    #des {
        margin: 5px;
        text-align: center;
    }
    .menu {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .menucard {
        max-width: 400px;
    }
}