*{
    box-sizing: border-box;
}
img{
    object-fit: cover;
    border-radius: 30px;
    width: 65%;
    padding: 20px;
}
body{
    margin: auto;
    text-align: center;
}
p{
    width: 45%;
    font-family: "Didot";
    margin: 20px auto;
    text-align: left;
}
h2, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 6px;
}
.section-1{
    background-color: #de2c3b;
    color: #F2E9D8;
    padding: 48px 0px;
}
.section-2{
    background-color: #11111D;
    color: #F2E9D8;
    padding: 48px 0px;
}
.section-3{
    background-color:#F2E9D8;
    color: #11111D;
    padding: 48px 0px;
}